<div class="userInfo d-flex align-items-center gap-3 p-4" (click)="getUserDetails()">
    <div class="userImage ">
        <img
        [src]="userImage() || defaultUserImg"
        alt="User Image"
      />
    </div>
  
  <div class="info d-flex flex-column justify-content-center">
    <span class="name mb-2">{{ userName() }}</span>
      <div class="followers mb-2">
        followers: {{userFollowers()}}
      </div>
      <div class="following mb-2">
        following: {{userFollowing()}}
      </div>
  </div>
</div>
