<section
  class="mainContent d-flex flex-column container py-3 h-100"
  [class.align-items-center]="!users.length"
  [class.justify-content-center]="!users.length"
>
  <!-- HEADER -->
  <div
    class="d-flex align-items-center justify-content-center mb-4 header gap-3"
  >
    <h4 class="text-center m-0">Github Users</h4>
    <i class="bi bi-github"></i>
  </div>

  <!-- USER SEARCH COMPONENT -->
  @if(users.length){
  <app-search-user />
  }

  <!-- USER SEARCH RESULTS -->
  <div class="row users my-4">
    @for(user of users; track user.id){
    <div class="col-12 col-sm-6 col-md-4 mb-3 pe-sm-0">
      <app-user-card
        [userProfile]="user.html_url"
        [userImage]="user.avatar_url"
        [name]="user.login"
      />
    </div>
    }@empty {
    <div
      class="px-3 d-flex flex-column justify-content-center align-items-center noUsers"
    >
      <p>Something Went Wrong While Catching Github Users!</p>
      <p>Please Try again Later</p>
    </div>
    }
  </div>

  <!-- PAGINATOR -->
  @if(users.length){
  <div class="mt-auto">
    <app-paginator />
  </div>
  }
</section>
